[submodule "closhell"]
	path = closhell
	url = https://github.com/MateuszKubuszok/Closhell
[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim.git
[submodule "vim/bundle/hybrid"]
	path = vim/bundle/hybrid
	url = https://github.com/w0ng/vim-hybrid
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
